<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>add products</h2>
        <form action="/addproduct" method="post">
            product name:
            <input type="text" name="pname" id=""><br><br>
            prodcut price:
            <input type="number" name="pprice" id=""><br><br>
            category:
            <input type="text" name="category" id=""><br><br>
            <button type="submit">add</button>
        </form>
    </center>
</body>
</html>