<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD PAGE</title>
</head>
<body>
    <center>
        <h2>ADD EMPLOYEES</h2>
        <form action="/addEmp" method="post">
            NAME:
            <input type="text" name="name" id=""><br>
            <br>
            SALARY:
            <input type="text" name="salary" id=""><br>
            <br>
            DEPARTMENT:
            <input type="text" name="dept" id=""><br>
            <br>
            <button type="submit">SUBMIT</button>
        </form>
    </center>
</body>
</html>