<center>
    <h2>Add Emp Data</h2>

    <form action="/addEmp" method="post">
        Name:
        <input type="text" name="name" id=""> <br> <br>
        Salary:
        <input type="text" name="salary" id=""><br> <br>
        Department:
        <input type="text" name="department" id=""><br> <br>
        <button type="submit">submit</button>
    </form>
</center>