<center>
    <h2>Register</h2>

    <form action="/register" method="post">
        Uname:
        <input type="text" name="uname" id=""><br>
        Email:
        <input type="text" name="email" id=""><br>
        Password:
        <input type="text" name="password" id=""><br>
        <button type="submit">Submit</button>
        <button type="reset">Reset</button>
    </form>
</center>