<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>add emp</h2>
        <form action="/addEmp" method="post">
            name:
            <input type="text" name="name" id="">
            <br>
            salary:
            <input type="number" name="salary" id="">
            <br>
            dept:
            <input type="text" name="dept" id="">
            <br>
            <button type="submit">add</button>
        </form>
    </center>
</body>
</html>