<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h2>register</h2>
        <form action="/register" method="post">
            uname:
            <input type="text" name="uname">
            <br>
            email:
            <input type="text" name="email" id="">
            <br>
            password:
            <input type="text" name="password" id="">
            <br>
            <button type="submit">submit</button>
        </form>
    </center>
</body>
</html>