<form
 action="/addRoom"
 method="post"
 enctype="multipart/form-data"
>

    roomnumber:
    <input type="text" name="roomnumber">
    <br><br>

    roomtype:
    <input type="text" name="roomtype">
    <br><br>

    pricepernight:
    <input type="text" name="pricepernight">
    <br><br>

    capacity:
    <input type="text" name="capacity">
    <br><br>

    image:
    <input
        type="file"
        name="image"
    >
    <br><br>

    <button type="submit">
        Submit
    </button>

</form>